Source: freefilesync
Section: utils
Priority: optional
Maintainer: Damien Lecan <dev@dlecan.com>
Build-Depends: debhelper (>= 7), autotools-dev, libwxgtk2.8-dev, libgtkmm-2.4-dev, imagemagick, intltool, libboost-thread-dev (>= 1.46), gcc (>= 4:4.5)
Standards-Version: 3.9.2
Homepage: http://freefilesync.sourceforge.net/

Package: freefilesync
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xdg-utils
Description: This program is an Open-Source folder comparison and synchronization tool.
 It's key features:
 * Volume Shadow Copy Service
 * Multiple folder pairs
 * Batch capability
 * Binary comparison
 * Handle conflicts and propagate deletions
 * Optimized performance
