[Desktop Entry]
Name=FreeFileSync synchronization tool
Name[fr]=Synchronisation de fichiers FreeFileSync
Comment=Files synchronization tool
Comment[fr]=Outil de synchronisation de fichiers
GenericName=Synchronization tool
GenericName[fr]=Outil de synchronisation
Exec=FreeFileSync %f
Terminal=false
Type=Application
Icon=freefilesync
Categories=Utility;FileTools;GTK;
MimeType=application/x-freefilesync-ffs
StartupWMClass=FreeFileSync
StartupNotify=true
